<% logger.debug "HTML STUFFFF #{raw @test.js}"%>
<body id="show_test_page">
	<div id="uid" data-uid="<%= @test.uid %>">
	<style type="text/css">
		<%= raw @test.css %>
	</style>
	<%= raw @test.html %>
	<script>
		$(document).ready(function(){
			<%= raw @test.js %>
		});
	</script>
	<footer id="show_test_page_footer">
		<span id="show_test_page_hide_controls">Hide Controls</span>
		<span id="show_test_page_controls">
			<a href="<%= @test.uid %>/html" id="show_test_page_open_html" class="show_test_page_open">
				Open HTML
			</a>
			<a href="<%= @test.uid %>/css" id="show_test_page_open_css" class="show_test_page_open">
				Open CSS
			</a>
			<a href="<%= @test.uid %>/js" id="show_test_page_open_js" class="show_test_page_open">
				Open JavaScript
			</a>
			<a href="/" class="show_test_page_open">
				Home
			</a>
			<a href="#" class="show_test_page_open">
				Help
			</a>
		</span>
	</footer>
	<footer id="show_test_page_footer_toggle">
		<span id="show_test_page_show_controls">Show Controls</span>
	</footer>
</body>